APP_HOST=app
APP_PORT=8000

THROTTLING_LIMIT=10
THROTTLING_SECONDS=5

EMAIL_USERNAME="xxxxxxxxxxxxxxxx"
EMAIL_PASSWORD="xxxxxxxxxxxxxxxxxx"
EMAIL_MAIL_FROM="xxxxxxxxxxxxxxxxxx"
EMAIL_PORT=587
EMAIL_SERVER=smtp.gmail.com
EMAIL_STARTTLS=True
EMAIL_SSL_TLS=False
EMAIL_USE_CREDENTIALS=True


POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=todo_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
